<div ng-controller="View3Ctrl">

<h1>Ordering</h1>

<p>Target cognitive function: Impulsive Answering</p>

<p>Click the buttons in incremental order:</p>
<form>
	<input id="button2" type="submit" ng-click="append_2()" value="2" />
	<input id="button3" type="submit" ng-click="append_3()" value="3" />
	<input id="button5" type="submit" ng-click="append_5()" value="5" />
	<input id="button1" type="submit" ng-click="append_1()" value="1" />
	<input id="button6" type="submit" ng-click="append_6()" value="6" />
	<input id="button4" type="submit" ng-click="append_4()" value="4" />
	<input id="button9" type="submit" ng-click="append_9()" value="9" />
	<input id="button8" type="submit" ng-click="append_8()" value="8" />
	<input id="button7" type="submit" ng-click="append_7()" value="7" />
</form>

<p>Click the buttons in incremental order:</p>
<form>
	<input id="button55" type="submit" ng-click="append_55()" value="5" />
	<input id="button33" type="submit" ng-click="append_33()" value="3" />
	<input id="button11" type="submit" ng-click="append_11()" value="1" />
	<input id="button22" type="submit" ng-click="append_22()" value="2" />
	<input id="button77" type="submit" ng-click="append_77()" value="7" />
	<input id="button66" type="submit" ng-click="append_66()" value="6" />
	<input id="button88" type="submit" ng-click="append_88()" value="8" />
	<input id="button99" type="submit" ng-click="append_99()" value="9" />
	<input id="button44" type="submit" ng-click="append_44()" value="4" />
</form>

<p>Click the buttons in decremental order:</p>
<form>
	<input id="button555" type="submit" ng-click="append_555()" value="5" />
	<input id="button333" type="submit" ng-click="append_333()" value="3" />
	<input id="button111" type="submit" ng-click="append_111()" value="1" />
	<input id="button222" type="submit" ng-click="append_222()" value="2" />
	<input id="button777" type="submit" ng-click="append_777()" value="7" />
	<input id="button666" type="submit" ng-click="append_666()" value="6" />
	<input id="button888" type="submit" ng-click="append_888()" value="8" />
	<input id="button999" type="submit" ng-click="append_999()" value="9" />
	<input id="button444" type="submit" ng-click="append_444()" value="4" />
</form>


<p>
	<input type="submit" ng-click="back()" value="Back" />
	<input type="submit" ng-click="next()" value="Next" />
</p>


<p class="debug">
    Debug data:
    <pre class="debug">user = {{user | json}}</pre>
</p>

</div>