<div ng-controller="View2Ctrl">




<p>Target cognitive function: Logische relaties leggen</p>

<p>Given the following sequence: </p>
<p>◯ △ ⬜ ◯ ... ⬜ </p>
<p>Choose the missing shape at the location of the dots: 
</p>
<p>
1. ⬜ <input type="radio" ng-model="user.ex1" value="shape1" /><br />
2. △<input type="radio" ng-model="user.ex1" value="shape2" /><br />
3. ◯ <input type="radio" ng-model="user.ex1" value="shape3" /><br />
	
</p>

<p class="debug">
    Debug data:
    <pre class="debug">user = {{user | json}}</pre>
</p>

</div>