<div ng-controller="View2Ctrl">

    <h1>Continue the series</h1>
    Target cognitive function: Establish relations

    <br />
    <br />
    <br />


    <p justify="left">Given the following function: ⬜ △ ◯ ⬜ <br/>
    Choose the first shape to appear on the right if the function is repeated:
    </p>
    <table align="center">
        <tr>
            <td><input type="radio" ng-model="user.ex1.step1" value="1" /></td>
            <td> ⬜</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step1" value="2" /></td>
            <td> △</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step1" value="3" /></td>
            <td> ◯</td>
        </tr>
    </table>
    <br />
    <br />


    <p>In the following sequence: ◯ △ ⬜ ◯ .. ⬜ <br />
        Choose the missing shape at the location of the dots.</p>
    <table align="center">
        <tr>
            <td><input type="radio" ng-model="user.ex1.step2" value="1" /></td>
            <td>⬜</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step2" value="2" /></td>
            <td>△</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step2" value="3" /></td>
            <td>◯</td>
        </tr>
    </table>
    <br />
    <br />


    <p>In the following sequence: ◯ ⬜ .. △ ◯ ⬜ ◯ △ <br />
        Choose the missing shape at the location of the dots.</p>
    <table align="center">
        <tr>
            <td><input type="radio" ng-model="user.ex1.step3" value="1" /></td>
            <td>⬜</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step3" value="2" /></td>
            <td>△</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step3" value="3" /></td>
            <td>◯</td>
        </tr>
    </table>
    <br />
    <br />



    <p>In the following sequence: △ ⬜ △ ◯ △ ⬜ △ .. <br />
        Choose the missing shape at the location of the dots.</p>
    <table align="center">
        <tr>
            <td><input type="radio" ng-model="user.ex1.step4" value="1" /></td>
            <td>⬜</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step4" value="2" /></td>
            <td>△</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step4" value="3" /></td>
            <td>◯</td>
        </tr>
    </table>
    <br />
    <br />





    <p>In the following sequence: .. ⬜ △ ◯ ⬜ △ <br />
        Choose the missing shape at the location of the dots.</p>
    <table align="center">
        <tr>
            <td><input type="radio" ng-model="user.ex1.step5" value="1" /></td>
            <td>⬜</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step5" value="2" /></td>
            <td>△</td>
        </tr>

        <tr>
            <td><input type="radio" ng-model="user.ex1.step5" value="3" /></td>
            <td>◯</td>
        </tr>
    </table>
    <br />
    <br />



    Choose the correct answers below:

    <p>Black is to white, as big is to ... <br /><p/>
    <table align="center">
        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step6" value="1" /></td>
            <td>Large</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step6" value="2" /></td>
            <td>Orange</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step6" value="3" /></td>
            <td>Small</td>
        </tr>
    </table>
    <br />
    <br />


    <p>Mother is to daughter, as grandmother is to ... <br /><p/>
    <table align="center">
        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step7" value="1" /></td>
            <td>Mother</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step7" value="2" /></td>
            <td>Grandfather</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step7" value="3" /></td>
            <td>Daughter</td>
        </tr>
    </table>
    <br />
    <br />

    <p>Square is to four, as hexagon is to ... <br /><p/>
    <table align="center">
        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step8" value="1" /></td>
            <td>Circle</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step8" value="2" /></td>
            <td>Six</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step8" value="3" /></td>
            <td>Twelve</td>
        </tr>
    </table>
    <br />
    <br />


    <p>Square is to four, as hexagon is to ... <br /><p/>
    <table align="center">
        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step9" value="1" /></td>
            <td>Circle</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step9" value="2" /></td>
            <td>Six</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step9" value="3" /></td>
            <td>Twelve</td>
        </tr>
    </table>
    <br />
    <br />

    <p>Square is to four, as hexagon is to ... <br /><p/>
    <table align="center">
        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step10" value="1" /></td>
            <td>Circle</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step10" value="2" /></td>
            <td>Six</td>
        </tr>

        <tr align="left">
            <td><input type="radio" ng-model="user.ex1.step10" value="3" /></td>
            <td>Twelve</td>
        </tr>
    </table>
    <br />
    <br />



    <input type="submit" ng-click="back()" value="Back" />
    <input type="submit" ng-click="next()" value="Next" />

    <p class="debug">
        Debug data:
        <pre class="debug">user = {{user | json}}</pre>
    </p>

</div>