<div ng-controller="View2Ctrl">

<h1>Continue the series</h1>

<p>Target cognitive function: Establish relations</p>

<p>Given the following sequence: ⬜ △ ◯ ⬜ </p>
<p>Choose the missing shape at the location of the dots: </p>
<p>
1. ⬜  <input type="radio" ng-model="user.ex1.step1" value="1" /><br />
2. △  <input type="radio" ng-model="user.ex1.step1" value="2" /><br />
3. ◯  <input type="radio" ng-model="user.ex1.step1" value="3" /><br />
</p>

<p>Choose the missing shape at the location of the dots: 
</p>
<p>
1. ⬜  <input type="radio" ng-model="user.ex1.step2" value="1" /><br />
2. △  <input type="radio" ng-model="user.ex1.step2" value="2" /><br />
3. ◯  <input type="radio" ng-model="user.ex1.step2" value="3" /><br />
</p>

<p>Choose the missing shape at the location of the dots: 
</p>
<p>
1. ⬜  <input type="radio" ng-model="user.ex1.step3" value="1" /><br />
2. △  <input type="radio" ng-model="user.ex1.step3" value="2" /><br />
3. ◯  <input type="radio" ng-model="user.ex1.step3" value="3" /><br />
</p>

<input type="submit" ng-click="back()" value="Back" />
<input type="submit" ng-click="next()" value="Next" />

<p class="debug">
    Debug data:
    <pre class="debug">user = {{user | json}}</pre>
</p>

</div>