<div ng-controller="View4Ctrl">

<h1>TODO-DODO</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>fill with your solution (e.g., DECBA):</th>
  </tr>
  <tr>
    <td>1</td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><input type="text" ng-model="user.ex3.step1" maxlength="5"/></td>
  </tr>
  <tr>
    <td>2</td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><input maxlength="5" type="text" ng-model="user.ex3.step2" /></td>
  </tr>
  <tr>
    <td>3</td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><input maxlength="5" type="text" ng-model="user.ex3.step3" /></td>
  </tr>
  <tr>
    <td>4</td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><input maxlength="5" type="text" ng-model="user.ex3.step4" /></td>
  </tr>
  <tr>
    <td>5</td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><input maxlength="5" type="text" ng-model="user.ex3.step5" /></td>
  </tr>
  <tr>
    <td>6</td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><img src="imgs/placeholder.png" ></td>
    <td><input maxlength="5" type="text" ng-model="user.ex3.step6" /></td>
  </tr>
</table>

<p>
<input type="submit" ng-click="back()" value="Back" />
<input type="submit" ng-click="next()" value="Next" />
</p>

<p class="debug">
    Debug data:
    <pre class="debug">user = {{user | json}}</pre>
</p>

</div>