<div ng-controller="View1Ctrl" >
  <form novalidate class="simple-form">
    Age:
    <input type="text" ng-model="user.age" /><br />
    Gender: 
    <input type="radio" ng-model="user.gender" value="male" />male
    <input type="radio" ng-model="user.gender" value="female" />female<br />
    Known condition:
    <select ng-model="user.known_condition" convert-to-number>
      <option value="Condition_1">Condition_1</option>
      <option value="Condition_2">Condition_2</option>
      <option value="Condition_3">Condition_3</option>
    </select>

    <input type="submit" ng-click="start()" value="Start" />
  </form>
  <p class="debug">
    Debug data:
    <pre class="debug">user = {{user | json}}</pre>
  </p>
</div>